.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
.DS_Store
Thumbs.db

